h1 {
  text-align: center;
  font-family: 'Aldrich', sans-serif;
  font-size: 48px;
}

.set-friction {
  margin: auto;
  display: block;
  height: 50px;
  width: 300px;
}

.canvas-cont {
  width: 750px;
  height: 750px;
  margin: auto;
  display: block;
  border: 20px solid #D35400;
}

h2 {
  text-align: center;
  font-family: 'Aldrich', sans-serif;
}
